<div ng-app="dsd" ng-controller="MainController" class="clear-fix">
	<div class="sidebar">
		<div class="nav">  
			<button ng-click="nextPage()">next</button>
			<button ng-click="prevPage()">prev</button>
		</div>
		<div ng-repeat="post in data" class="item">
	    <div class="title" ng-click="getPost(post.id)">

	      <h1>{{ post.attributes.title }}</h1>
	    </div>
	    <div class="body">
	      {{ post.attributes.body }}
	    </div>
	    <div class="time">
	      {{ post.attributes.created | date:MM/dd/yyyy }}
	    </div>
	    <div class="user-email">
	      email:{{ post.attributes.email}}
	    </div>
		</div>
	</div>
	<div class="post">
		<h1>{{ post.attributes.title }}</h1>
		<div class="body">
			{{ post.attributes.body }}
		</div>
		<div class="time">
	    date: {{ post.attributes.created | date:MM/dd/yyyy }}
	  </div>
	  <div class="user-email">
	    email:{{ post.attributes.email}}
	  </div>
	  <h1>Комментарии</h1>
	  <div class="comment" ng-repeat="comment in post.attributes.comments">
	  	<div class="body-comment">
	  		{{ comment.body }}
	  	</div>
	  	<div class="author-comment">
	  		{{ comment.commenter }}
	  	</div>
	  	<div class="create-at-comment">
	  		
	  	</div>
	  </div>
	  <h1>Новый комментарий</h1>
	  <form ng-submit="sendComment()">
    	<input ng-model="newComment"/>
    	<button type="submit">Send</button>
		</form>
	</div>
</div>
