<div ng-app="dsd" ng-controller="MainController">
	<p>{{ loaded }}</p>
	<div ng-repeat="post in data">
		<p>
			<strong>Title:</strong>{{ post.attributes.title }}
		</p>
		<p>
			<strong>Body:</strong>{{ post.attributes.body }}
		</p>
		<p>
			<strong>Created at:</strong>{{ post.attributes.created-at }}
		</p>
		
	</div>

</div>
